@import "tailwindcss";

body{
  font-family: "Roboto", sans-serif;
}

@theme {
  --color-primary: rgb(76 200 0);
  --color-primary-dark: rgb(60 160 0);
  --color-primary-light: rgb(100 220 40);
  
  /* You can also define other theme values */
  --color-secondary: rgb(59 130 246);
  --color-success: rgb(34 197 94);
  --color-warning: rgb(251 191 36);
  --color-danger: rgb(239 68 68);
  
}